form {
    max-width: 400px;
    margin: auto;
    border-style:outset
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 30px;
    padding: 10px;
    margin: 20px;
    color: rgb(131, 114, 114);
    
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;

  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 5px;
    font-size: 20px;
  }